/* detailView */
.detail1-image{
	padding-right: 3px;
}
.detail1-content{
	width:50%;
	border-top: 2px solid black;
	padding-top: 5px; 
}
.custom-select-box{
	border-top: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
    padding: 12px 0 3px;
    margin: 13px 0 0;
}
.detailButton{
	width: 40%;
}
#detail{
	background-color: white;
	padding: 0px;
}
#detail img{
	width: 100%;
}

.hover-image {
	transition: transform 0.3s ease;
}
.hover-image:hover {
	transform: translate(0, -2px); /* 필요에 따라 값 조절 */
}

.custom-qty{
	border-bottom: 1px solid #ececec;
    padding: 12px 0 8px;
    margin: 13px 0 0;
}
.custom-qty input{
	margin-left: 13px;
}
.myOption{
	border: 1px solid #ececec;
	margin: 10px;
	padding-left: 20px;
}
.active {
    background-color: white;
}
/* 구매정보 */

.cont_inner {
    border: 1px solid #eaeaea;
    padding: 40px;
    font-size: 13px;
}
.cont_inner h3{
	border-bottom: 1px solid #eaeaea;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 2px;
}
.xans-product-additional #prdInfo .cont_all li.cont {
    padding: 0;
    font-weight: 300 !important;
    text-align: left;
    width: 50%;
    color: #777;
    line-height: 23px;
    margin: 0 0 -1px -1px;
    font-size: 14px;
    vertical-align: top;
    display: inline-block;
}