/*--------------------------------- frame ----------------------------------------*/
.boxes {
	width: 73px;
	height: 25px;
	border-radius: 13px;
	border : 1px solid rgb(196, 205, 213);
	background-color: white;
	font-size: 12px;
	text-align: center;
	vertical-align: middle;
	margin-right: 5px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	font-weight: 500px;
}
.clickedBox {
	background-color: rgb(52, 106, 255);
	color: white;
}

.classifyMine {
	border: 1px solid rgb(196, 205, 213);
	width: 25%;
	height: 40px;
	text-align: center;
	padding: 7px;
	background-color: rgb(249, 249, 249);
	font-weight: bold;
	border-bottom-color: rgb(75, 129, 217);
	border-bottom-width: 2px;
}
.selectedClass {
	border: 2px solid rgb(75, 129, 217);
	border-bottom: none;
	color: rgb(75, 129, 217);
	background-color: white;
}

.classifyByDate {
	border: 1px solid rgb(196, 205, 213);
	border-radius: 13px;
	width: 95%;
	margin-left: 13px;
	padding-left: 10px;
	padding-top: 10px;
	margin-top: 20px;
	box-shadow: 0px 1px 0px 0px gray;
}
#seeDetail {
	color: rgb(79, 107, 181);
	margin-right: 30px;
}
#seeDetail:hover {
	color: rgb(79, 107, 181);
	text-decoration: none;
}
#detailHover {
	color: rgb(64, 106, 226);
}
#detailHover:hover {
	text-decoration: none;
	color: rgb(64, 106, 226);
}
.orderCard {
	width: 95%;
	padding-left: 15px;
}
.orderCardLeft {
	border: 1px solid rgb(196, 205, 213);
	border-radius: 13px 0 0 13px;
	width: 70%;
}
.orderCardRight {
	border: 1px solid rgb(196, 205, 213);
	border-radius: 0 13px 13px 0;
	width: 30%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.cardButton {
	border: 1px solid rgb(196, 205, 213);
	border-radius: 3px;
	width: 80%;
	background-color: white;
	margin : 5px 0 5px 0;
}
.lowerCard:hover {
	cursor: pointer;
}
.moreIcon {
	cursor: pointer;
}
#pagingButton div button{
	margin-top: 20px;
	background-color: white;
	border: 1px solid rgb(196, 205, 213);
	border-radius: 4px;
	height: 40px;
	width: 80px;
}

#deliveryNotify {
	border: 1px solid rgb(196, 205, 213);
}
#notifyBottom {
	background-color: #f3f3f3;
}
#deleteUnderline:hover {
	text-decoration: none;
	color: rgb(100, 139, 214);
}
/* 마이페이지 헤더 */
.header {
  padding: 40px;
  padding-bottom: 0px;
  text-align: center;
}
#myPlaying{
	padding-left: 5%;
}
.myInfo{
	margin-left: 30px;
	cursor: pointer;
}
.myInfo p{
	margin-bottom: 0px;
}
.myInfo h2{
	padding-top: 30px;
	font-size: 55px;
	font-weight: bold;
}
.myInfo a{
	font-size: 7px;
}
.profileImg{
	font-size: 12px;
}
#label{
	cursor: pointer;
}
#fileInput{
	cursor: pointer;
}

#wrapper h6{
	margin-top: 20px;
	padding-left: 50px;
	font-weight: bold;
}
#Cash{
	margin-left: 8%;
	padding-top: 3%;
}

.mine{
	margin-left: 5%;
	padding-top: 3%;
}

.mine div{
	font-size: 13px;
}

.mine p{
	font-size: 25px;
	font-weight: bold;
}

.icon{
	margin-bottom: 7px;
}
.basic{
	font-size: 7px; 
}

/* 쿠폰  리스트==============================================*/
#myCoupons{
	border-top: 1px solid #e7e9e8;
	margin-top: 10px;
	margin-bottom: 20px;
	padding-top: 20px; 
	padding-left: 5%;
}
#numOfcoupons{
	margin-bottom: 20px;
}
#num{
	font-weight: bold;
}
.coupon-list{
	padding-left: 30%;
}
.couponLine{
	width: 350px;
	padding-left: 2%;
	border: 2px solid #1e90ff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	margin-top: 5px;
	margin-bottom: 20px;
}
.coupon-title{
	font-weight: bold;
	padding-left:28%;
}
.coupon-detail{
	border-top: 1px solid #1e90ff;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 12px;
	font-size: 33px;
	padding-left: 20%;
	font-weight: bold;
}
.coupon-content{
	font-size: 13px;
	padding-left: 16%;
}
.coupon-date{
	font-size: 12px;
}
.noCoupon{
	padding: 50px;
	text-align: center;
	width: 950px;
}


/* 취소 환불 리스트==============================================*/
.refundMenu {
	width: 50%; 
	text-align: center; 
	border: 2px solid #dfdfdf; 
	font-size:20px; 
	font-weight: bold;
    background-color: rgb(249, 249, 249);
    padding-top: 5px;
    padding-bottom: 5px;
}
.selectedRefundMenu {
	border: 3px solid rgb(75, 129, 217);
	border-bottom: none;
	color: rgb(75, 129, 217);
	background-color: white;
}
.refundTop {
   	border:	1px solid rgb(240, 240, 240);
   	background-color: rgb(249, 249, 249);
   	font-size: 20px;
   	padding: 10px;
   	margin-top: 20px;
}
 .refundBottom {
    border:	1px solid rgb(240, 240, 240);
 }
.refundBottomLeft {
	width: 100%;
}
.refundTop span {
	font-weight: bold;
}
.refundBottom span {
	font-weight: bold;
}
.refundContent {
	width: 75%;
	border:	1px solid rgb(240, 240, 240);
	padding-right: 20px;
}
.refundInfo {
	width: 25%;
	border:	1px solid rgb(240, 240, 240);
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}
#pagingButton div button{
	margin-top: 20px;
	background-color: white;
	border: 1px solid rgb(196, 205, 213);
	border-radius: 4px;
	height: 40px;
	width: 80px;
	margin-bottom: 40px;
}
#noInquiry{
	text-align: center; 
	padding-top: 50px;
}